
<div id="box_form">
<form action="home/limpar" method="post" id="top">
    <input type="submit"  value="Limpar conversa" class="submit_button"> 
   
</form>
<form action="home/res" method="post">
    <input type="text"    name="inputt"  id="inputt"> 
    <input type="submit"  value="enviar" class="submit_button"> 
   
</form>


</div>


<div id="content">
  <div id="comp"> <span class="name">vocabu: </span>
    <% @talk.each do |talk| %>
      <p><%= talk.vocabu %></p>
    <% end %>

  </div>

  <div id="user"> <span class="name">User: </span>
    <% @talk.each do |talk| %>
      <p><%= talk.user %></p>
    <% end %>
    
  </div>

</div>
<!-- <%=  @inputts.last.message %><br> -->







